services:
  rabbit:
    image: rabbitmq:3.10-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin123
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - dev_network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "check_running"]
      interval: 5s
      timeout: 3s
  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - "6379:6379"
      - "8001:8001"
    networks:
      - dev_network
    deploy:
      resources:
        limits:
          memory: 512M
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin123
    volumes:
      - mongo_data:/data/db
    networks:
      - dev_network
  mongo-express:
    image: mongo-express
    container_name: mongo_express
    ports:
      - "8082:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=admin123
      - ME_CONFIG_BASICAUTH=false
    depends_on:
      - mongo
    networks:
      - dev_network
  watcher:
    build: ./backend/watcher
    env_file:
      - ./.env
    container_name: watcher
    depends_on:
      rabbit:
        condition: service_healthy
    volumes:
      - ./data:/app/data 
    environment:
      - RABBITMQ_URL=amqp://admin:admin123@rabbit:5672
      - WATCH_PATH=/app/data/incoming
    networks:
      - dev_network
  worker:
    build: ./backend/worker
    container_name: worker
    depends_on:
      redis:
        condition: service_started
      rabbit:
        condition: service_healthy
    volumes:
      - ./data:/app/data 
    environment:
      - RABBITMQ_URL=amqp://admin:admin123@rabbit:5672
      - WATCH_PATH=/app/data/processed
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - dev_network
  api:
    build: ./backend/api    
    container_name: api
    depends_on:
      rabbit:
        condition: service_healthy
    ports:
      - "3000:3000"
    environment:
      - RABBITMQ_HOST=rabbit
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=admin
      - RABBITMQ_PASS=admin123
    networks:
      - dev_network
    volumes:
      - ./backend/api:/app
  app:
    build: ./frontend/app
    container_name: app
    depends_on:
      rabbit:
        condition: service_healthy
      redis:
        condition: service_started
      mongo:
        condition: service_started
    volumes:
      - .:/app
      - ./data/incoming:/data/incoming
      - ./data/processed:/data/processed
    ports:
      - "4200:4200"
    networks:
      - dev_network

networks:
  dev_network:
    driver: bridge
volumes:
  rabbitmq_data:
  mongo_data: